@{
    ViewData["Title"] = "A Empresa";
}

<body >
    <h1 class="titulo2">@ViewData["Title"]</h1>
    <main >
        <img class="imgonibus"height="350" width="600" src="~/img/onibus.jpg">
        <h2 class="titulo2">História</h2>
        <div class="texto">
        <p>A empresa foi formada em 1982 por Luís Ademar Crestani e seu sócio Antônio Lanci Vencato, mas só foi registrada em 7 novembro de 1989, localizada na cidade de Nova Esperança do Sul a empresa começou apenas com um ônibus onde eram realizados o transporte de passageiros na linha entre Nova Esperança do Sul e Santiago.</p>
        <p>Mais tarde a empresa adquiriu outros ônibus para a realização do transporte escolar aproveitando também a grande expansão do ramo calçadista na região através da empresa Braspelco na época, onde surgiu a oportunidade de ser realizado o transporte de funcionários para as cidades de Santiago e Jaguari. </p>
        <p>Em 1996 a empresa começou a realizar viagens para turismo abrindo um escritório na cidade de Santiago onde também passou a estar localizada a garagem da empresa.</p>
        <p>Hoje a empresa realiza transporte escolar e viagens para todo o território nacional e também viagens internacionais.      </p>
        <h3 class="titulo2">Missão</h3>
        <p>Fornecer transporte de passageiros,turismo e fretamento com segurança e qualidade para seus clientes.</p>
        <h3 class="titulo2">Visão</h3>
        <p>Ser referência no transporte na região.</p>
        </div>
    </main>
     <footer class="footer2">
        <div >
            &copy; 2022 - Passagens Online - <a asp-area="" asp-controller="Home" asp-action="Index">Expresso União</a>
        </div>
    </footer>
    <script type="text/javascript" src="~/js/site.js"></script>
</body>